{% extends 'MaroonRPGBundle::layout_front.html.twig' %}

{% block headline %}New Character{% endblock %}

{% block body %}

    <div class="row">
        <div class="span8">
            <form class="form-horizontal" action="{{ path('maroon_rpg_character_newcharacter') }}"
                  method="post" {{ form_enctype(form) }}>
                {{ form_widget(form) }}
                <div class="form-actions">
                    <button type="submit" class="btn btn-primary">Create New Character</button>
                </div>
            </form>
        </div>
        <div class="span4">
            <p><strong>Welcome to Maroon</strong>, an open-source web RPG in development that will eventually
                provide you with deep character customization and many hours of entertainment.</p>
            <p>To get started, fill out some simple fields to the left to create your main character.
            Further characters can be rolled for an in-game fee through the recruitment system.</p>
        </div>
    </div>



{% endblock %}

{% block javascripts %}
{{ parent() }}
<script>
    $(function() {
        var races = Maroon.toCollection({{ races|raw }}, Maroon.Race);
        var genders = Maroon.toCollection({{ genders|raw }}, Maroon.Gender);
        var jobs = {{ jobs|raw }};
        var genderChoices = {{ genderChoices|raw }};
        var jobChoices = {{ jobChoices|raw }};

        var $race = $('#maroon_rpg_new_character_race');
        var $gender = $('#maroon_rpg_new_character_gender');
        var $job = $('#maroon_rpg_new_character_job');

        $race.change(function() {
            $race.parent().find('p.help-block').html(
                    _.findWhere(races, {id: parseInt($race.val())}).fmtNewChar());

            // rebuild gender listing
            $gender.find('> option:gt(0)').remove();
            _.each(genders, function(gender) {
                if ( _.indexOf(genderChoices[$race.val()], gender.id) != -1 ) {
                    var $newOpt = $('<option></option>').attr('value', gender.id).text(gender.name);
                    $gender.append($newOpt);
                }
            });
            $gender.parent().find('p.help-block').html('Select a gender to view additional details.');

            // rebuild job listing
            $job.find('> option:gt(0)').remove();
            _.each(jobs, function(job) {

            });
            $job.parent().find('p.help-block').html('Select a job to view additional details.');
        });

        $gender.change(function() {
            $gender.parent().find('p.help-block').html(
                    _.findWhere(genders, {id: parseInt($gender.val())}).fmtNewChar());
        });
    });
</script>
{% endblock %}