{% extends 'MaroonRPGBundle::layout_admin.html.twig' %}
{% from '::macros.html.twig' import breadcrumbs %}

{% block crumbs %}
    {{ breadcrumbs({'admin_home': 'Admin Home', 'admin_race': 'Races', '': entity.name}) }}
{% endblock %}

{% block headline %}Edit Race: <span id="race_name">{{ entity.name }}</span>{% endblock %}

{% block body -%}

    <form class="form-horizontal" action="{{ path('admin_race_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
        <input type="hidden" name="_method" value="PUT"/>
        {{ form_row(edit_form.name, {'attr': {'data-bind': '#race_name'}}) }}
        {{ form_row(edit_form.description, {'attr': {'class': 'span6'}}) }}
        {{ form_row(edit_form.selectableGenders) }}
        {{ form_row(edit_form.selectableJobs) }}

        <div class="control-group">
            <label class="control-label">Initial Stats</label>

            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsInit.hp) }} &nbsp;
                {{ form_widget(edit_form.statsInit.sp) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsInit.str) }} &nbsp;
                {{ form_widget(edit_form.statsInit.dex) }} &nbsp;
                {{ form_widget(edit_form.statsInit.int) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsInit.def) }} &nbsp;
                {{ form_widget(edit_form.statsInit.mdef) }} &nbsp;
                {{ form_widget(edit_form.statsInit.eva) }} &nbsp;
                {{ form_widget(edit_form.statsInit.meva) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsInit.spd) }} &nbsp;
                {{ form_widget(edit_form.statsInit.luck) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stats Per Level</label>

            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsBonus.hp) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.sp) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsBonus.str) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.dex) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.int) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsBonus.def) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.mdef) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.eva) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.meva) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(edit_form.statsBonus.spd) }} &nbsp;
                {{ form_widget(edit_form.statsBonus.luck) }}
            </div>
        </div>

        {{ form_rest(edit_form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Edit</button>
            <a href="{{ path('admin_race') }}" class="btn btn-inverse pull-right">Back to List</a>
        </div>
    </form>

    <div class="alert alert-danger centered">
        <form class="form-delete" action="{{ path('admin_race_delete', { 'id': entity.id }) }}" method="post">
            <input type="hidden" name="_method" value="DELETE"/>
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit"><i class="icon-remove icon-white"></i> Delete Race</button>
        </form>
    </div>

{% endblock %}
