{% extends 'MaroonRPGBundle::layout_admin.html.twig' %}
{% from '::macros.html.twig' import breadcrumbs %}

{% block crumbs %}
    {{ breadcrumbs({'admin_home': 'Admin Home', 'admin_race': 'Races', '': 'New Race'}) }}
{% endblock %}

{% block headline %}New Race<span id="race_name"></span>{% endblock %}

{% block body -%}
    <form class="form-horizontal" action="{{ path('admin_race_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.name, {'attr': {'data-bind': '#race_name', 'data-bindprefix': ': '}}) }}
        {{ form_row(form.description, {'attr': {'class': 'span6'}}) }}
        {{ form_row(form.selectableGenders) }}
        {{ form_row(form.selectableJobs) }}

        <div class="control-group">
            <label class="control-label">Initial Stats</label>

            <div class="stats-add-on controls">
                {{ form_widget(form.statsInit.hp) }} &nbsp;
                {{ form_widget(form.statsInit.sp) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsInit.str) }} &nbsp;
                {{ form_widget(form.statsInit.dex) }} &nbsp;
                {{ form_widget(form.statsInit.int) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsInit.def) }} &nbsp;
                {{ form_widget(form.statsInit.mdef) }} &nbsp;
                {{ form_widget(form.statsInit.eva) }} &nbsp;
                {{ form_widget(form.statsInit.meva) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsInit.spd) }} &nbsp;
                {{ form_widget(form.statsInit.luck) }}
            </div>
        </div>

        <div class="control-group">
            <label class="control-label">Stats Per Level</label>

            <div class="stats-add-on controls">
                {{ form_widget(form.statsBonus.hp) }} &nbsp;
                {{ form_widget(form.statsBonus.sp) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsBonus.str) }} &nbsp;
                {{ form_widget(form.statsBonus.dex) }} &nbsp;
                {{ form_widget(form.statsBonus.int) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsBonus.def) }} &nbsp;
                {{ form_widget(form.statsBonus.mdef) }} &nbsp;
                {{ form_widget(form.statsBonus.eva) }} &nbsp;
                {{ form_widget(form.statsBonus.meva) }}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {{ form_widget(form.statsBonus.spd) }} &nbsp;
                {{ form_widget(form.statsBonus.luck) }}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create</button>
            <a href="{{ path('admin_race') }}" class="btn btn-inverse pull-right">Back to List</a>
        </div>
    </form>

{% endblock %}
