{% extends 'MaroonRPGBundle::layout_admin.html.twig' %}

{% block headline %}New Race<span id="race_name"></span>{% endblock %}

{% block body -%}
    <form class="form-horizontal" action="{{ path('admin_race_create') }}" method="post" {{ form_enctype(form) }}>
        {{ form_row(form.name, {'attr': {'data-bind': '#race_name', 'data-bindprefix': ': '}}) }}
        {{ form_row(form.description) }}
        {{ form_row(form.selectableGenders) }}
        {{ form_row(form.selectableJobs) }}

        {# {{ form_row(form.statsInit) }} #}


        <div class="control-group">
            <label class="control-label">Initial Stats</label>
            <div class="stats-add-on controls">
                {% for st in form.statsInit[0:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {% for st in form.statsInit[4:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {% for st in form.statsInit[8:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>


        <div class="control-group">
            <label class="control-label">Stats Per Level</label>
            <div class="stats-add-on controls">
                {% for st in form.statsBonus[0:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {% for st in form.statsBonus[4:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>

        <div class="control-group">
            <div class="stats-add-on controls">
                {% for st in form.statsBonus[8:4] %}
                    {{ form_widget(st) }}
                    &nbsp;
                {% endfor %}
            </div>
        </div>

        {{ form_rest(form) }}
        <div class="form-actions">
            <button class="btn btn-primary" type="submit">Create</button>
            <a href="{{ path('admin_race') }}" class="btn btn-inverse pull-right">Back to List</a>
        </div>
    </form>

{% endblock %}
